/* style.css */
/* 이 CSS 파일은 민지 포트폴리오 페이지의 스타일을 정의합니다. */
/* 작성자: 민지 */

/* 기본 스타일 */
body {
    margin: 0;
    padding: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    transition: background-color 0.5s, color 0.5s;
    color:#191919;
}

/* 버튼 스타일 */
button, 
#dark-mode-toggle {
    font-family: 'Noto Sans', 'Open Sans', 'Roboto', Arial, sans-serif !important;
}

/* 스플래시 스크린 스타일 */
#splash-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 1s ease-out;
}

#splash-circle {
    width: 300px;
    height: 300px;
    background-color: #3498db;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#splash-screen h1 {
    margin-top: 20px;
    font-size: 2rem;
    color: #333;
}

/* 메인 콘텐츠 스타일 */
#main-content {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
}

#left-side {
    width: calc(30% - 20px);
    min-width: 300px;
    position: fixed;
    height: 100%;
    overflow: hidden;
    background-color: #f4f4f4;
    padding: 20px;
    margin-top: 43px;
}

#right-side {
    width: calc(70% - 20px);
    margin-left: calc(30% + 20px);
    padding: 20px;
    overflow-y: auto;
    margin-top: 43px;
}

#target-circle {
    width: 150px;
    height: 150px;
    background-color: #3498db;
    border-radius: 50%;
    margin: 30px;
    transform: translate(0, 0) scale(0);
    transition: transform 1s ease;
}
#target-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 div를 가득 채우도록 */
}
/* 애니메이션 스타일 */
@keyframes circle-move {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}

/* 네비게이션 스타일 */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 12px 0;
    text-align: center;
    z-index: 100;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 0.9rem;
    border-bottom: none;
}

nav a:hover {
    text-decoration: none;
}

/* 우측 콘텐츠 스타일 */
#right-side h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.content-box {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-top: 28px;
}

.thumbnail-area {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #ccc;
    margin-right: 20px;
}

.thumbnail-description {
    flex: 1;
}

.text-area {
    margin-top: 20px;
}

.text-area .text-content {
    width: 97%;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

/* 소개 텍스트 스타일 */
#introduction {
    font-size: 36px; 
    font-weight: bold;
    margin: 30px;
}
#introduction p{
    line-height:1.3;
    margin:14px 0;
}
/* 텍스트 애니메이션 스타일 */
.additional-text{
    margin: 30px;
}
.additional-text p {
    font-size: 16px;
    margin: 12px 0;
    line-height:1.5;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.additional-text.show p {
    opacity: 1;
}

.additional-text.show p:nth-child(1) {
    transition-delay: 0s;
}

.additional-text.show p:nth-child(2) {
    transition-delay: 0.5s;
}

.additional-text.show p:nth-child(3) {
    transition-delay: 1s;
}

/* 미디어 쿼리: 모바일 및 태블릿 화면 */
@media (max-width: 1024px) {
    #main-content {
        flex-direction: column;
        margin:0 auto;
        padding:0;
    }

    #left-side {
        width: calc(100% - 20px);
        position: static;
        margin:0 auto;
        padding:0;
    }

    #right-side {
        width: calc(100% - 20px);
        margin:0 auto;
        padding:0;
    }
}

/* 다크 모드 스타일 */
.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode #splash-screen h1 {
    color: #fff;
}

.dark-mode #main-content {
    background-color: #333;
}

.dark-mode #left-side {
    background-color: #555;
}

.dark-mode #right-side {
    background-color: #666;
}

.dark-mode nav {
    background-color: #444;
}

.dark-mode nav a {
    color: #fff;
}

.dark-mode .content-box {
    background-color: #444;
    color: #fff;
}

.dark-mode .thumbnail {
    background-color: #666;
}

/* 다크 모드 토글 스위치 슬라이더 스타일 */
.switch {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
