/* style.css */
/* 이 CSS 파일은 민지 포트폴리오 페이지의 스타일을 정의합니다. */
/* 작성자: 민지 */

 html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#fff;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
.swiper-pagination-bullet-active{
  background-color:#fff;
}

.color-1{
  background-color:#f44336;
}
.color-2{
  background-color:#E91E63;
}
.color-3{
  background-color:#9C27B0;
}
.color-4{
  background-color:#673AB7;
}
.color-5{
  background-color:#3F51B5;
}
.color-6{
  background-color:#2196F3;
}
